<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>{{ specie.type }}</h1>

    {% if profiles is not empty %}
        <p>Here are the profiles:</p>
        <ul>
            {% for profile in profiles %}
                <li>{{ profile.getName }} {{ profile.gender }}</li>
                <img src= "{{ profile.getUrl }}" alt="" />
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a Pet Profile</h4>

    <form action='/profiles' method='post'>
        <input id="specie_id" name="specie_id" type="" value="{{ specie.getId() }}">
        <label>Name</label>
        <input name='name' type='text'>
        <label>Gender</label>
        <input name='gender' type='text'>
        <label>Admittance Date:</label>
        <input name='admittance_date' type='date'>
        <label>Breed</label>
        <input name='breed' type='text'>
        <label for="">Enter A URL for an image to your pet:</label>
        <input name="url" type="text">
        <button type='submit'>Add {{ specie.type }}</button>
    </form>
    <p><a href="/species/{{ specie.getId }}/edit">Edit Species Name</a></p>
    <p><a href='/'>Home</a></p>
</body>
</html>
